*{
    --loading-animation-duration: 5s;
}

.loading-bar-container{
    width: 50%;
    height: 4em;
    
    margin-top: 25%;
    margin-left: 25%;
    
    border: solid red 1em;
}

.loaded-state{
    width: 0%;
    padding-top: 1em;
    height: 4em;

    background-color: red;
    transition: width var(--loading-animation-duration);
}

.loading-bar-container:hover .loaded-state{
    width: 100%;
}

.loading-text{
    margin-left: 2em;
    transition: margin-left var(--loading-animation-duration);
}

.loading-bar-container:hover .loading-text{
    margin-left: 25%;
}